/*.block-user-picture-menu {
  background-color: yellow;
  display: block;
  height: 80px;
}

.block-user-picture-menu .content {
  display: block;
  height: 40px;
  width: 40px;
}*/

.block-user-picture-menu .user-name {
  display: block;
  height: 40px;
  width: 80px;
  text-align: center;
  vertical-align: middle;
  color: #555;
  background-color: #fff;
  float: left;  /* if you want to invert picture-name order just float to the right */
}

.block-user-picture-menu img {
  display: block;
  height: 40px;
  width: 40px;
}

.block-user-picture-menu .user-menu-toggler {
/*background-color: red;*/
  display: block;
  height: 40px;
  width: 120px;
  cursor: pointer;
  position: absolute;
  top: 0px;
}

.block-user-picture-menu .user-items {
  position: absolute;
  top: 45px;
  background-color: #fff;
  width: 120px;
  padding-left: 5px;
}

.block-user-picture-menu .user-items li{
  display: block;
}

.block-user-picture-menu .user-items a{
  display: block;
  color: #000;
}