
.region-header .block {
  width: auto;
}

.block-user-picture-menu {
  position: relative;
  float: right;
  margin-top: 10px;
  padding: 0px 0px 0px 0px;
  display: inline-block;
  width: auto;
  float: right;
}

/*.block-user-picture-menu .content {
  display: inline-block;
  padding: 0px 0px 0px 0px;
}*/

.block-user-picture-menu .user-name {
  position: relative;
  display: inline-block;
  height: 30px;
  width: auto;
  text-align: center;
  color: #555;
  z-index: 250;
  float: left;  /* if you want to invert picture-name order just float to the right */
}

.block-user-picture-menu h3 {
  position: relative;
  margin: 0px 10px 0px 10px;
}

/*.block-user-picture-menu .user-name h2 {
  margin-top: 5px;
}*/

.block-user-picture-menu img {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  z-index: 250;
}

.user-menu-toggler {
  color: #ddd;
  position: relative;
  display: block;
  width: auto;
  height: 30px;
  z-index: 1;
          border-radius: 2px;
     -moz-border-radius: 2px; 
  -webkit-border-radius: 2px;
}

.user-menu-toggler:hover {
  color: #fff;
  background-color: #444;
  cursor: pointer;
  border-bottom: none; 
}


.block-user-picture-menu ul.user-items {
  background-color: #fff;
  border: 1px solid #ccc;
  display: block;
  margin: 0;
  padding: 5px;
  position: absolute;
  right: 0;
  font-size: 90%;
  text-align: left;
  top: 38px;
  list-style-type: none;
          border-radius: 4px;
     -moz-border-radius: 4px; 
  -webkit-border-radius: 4px;
}

.block-user-picture-menu .user-items a {
  line-height: 100%;
  list-style: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
  display: block;
  padding: 5px 10px 5px 10px;*/
}

.block-user-picture-menu .user-items a:hover {
                  color: #fff;
  background-color: #444;
          border-radius: 2px;
     -moz-border-radius: 2px; 
  -webkit-border-radius: 2px;
  text-decoration: none;
}