
.user_picture_menu {
  height: 90px;
  margin-top: 0px;
}
*+html .user_picture_menu {  /* IE7 */
  margin-top: 10px;
}
* html .user_picture_menu {  /* IE6 */
  margin-top: 10px;
}
.user_picture_menu h3 { 
  margin-top: 0.7em;
  margin-bottom: 0.2em;
}
*+html .user_picture_menu h3 { /* IE7 */
  margin-top: 0.2em;
}


.user_picture_menu .picture {
  float: left;
}
.user_picture_menu .picture img {
  margin-right: 8px;
  width:  60px;
  height: 60px;
  margin-bottom: 5px;
}
*+html .user_picture_menu .picture img { /* IE7 */
  margin-bottom: 5px;
}
.user_picture_menu .userlevel {
}
.user_picture_menu .userpoints {
}
.user_picture_menu .userbadges {
  /*clear: left;*/
  margin-top: 5px;
}

